doctype html
html(lang="en")
  include partials/head.pug

  body
    include partials/stars.pug
      include partials/header.pug

      .gradient-container
        .transaction-wrapper
          .text-center
            h1 Receipt for Order #{order.transaction_id}
            p(style="margin-top: 6px") Dear #{user},
            p Thank you for your recent purchase. Below is a summary of your order:

          table(class="large-screen" style="margin-top: 16px")
            thead
              tr
                th(style="width: 120px") Item
                th Title
                th Id
                th(class="text-right") Price
            tbody
              each item in order.items
                tr
                  td
                    img(src=item.img)
                  td= item.title
                  td= item.id
                  td(class="text-right") $#{item.price}

          div(class="small-screen")
            each item in order.items
              table
                thead
                  tr
                    th(colspan="2" class="text-center")
                      img(src=item.img)
                tbody
                    tr
                      td(class="text-left") Id
                      td(class="text-right") #{item.id}
                    tr
                      td(class="text-left") Title
                      td(class="text-right") #{item.title}
                    tr
                      td(class="text-left") Price
                      td(class="text-right") $#{item.price}

          .text-center
            p Total Amount: $#{order.totalAmount}
            p(style="margin-top: 12px") If you have any questions about your order, please contact our support team at support@example.com.
            //- TODO: update email above (inject)

      include partials/footer.pug
